<form action="/creatures/<%= @creature.id %>" method="post">
	<input type="hidden" name="_method" value="put">
	<label> Name: </label>
  <input type="text" name="creature[name]" value="<%=@creature.name%>"><br>
  <label> Description: </label>
  <textarea name="creature[description]"><%=@creature.description%></textarea><br>
  <button>Update</button>
  <%= token_tag form_authenticity_token %>
</form>